<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>113282744987-192gpm3o2v62r7vsg199am0lughjqd86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113282744987-192gpm3o2v62r7vsg199am0lughjqd86</string>
	<key>API_KEY</key>
	<string>AIzaSyBv5iewgDRLosZIutiMOho3hJ1ZzUdu89s</string>
	<key>GCM_SENDER_ID</key>
	<string>113282744987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cartel.ios</string>
	<key>PROJECT_ID</key>
	<string>cartel-hn</string>
	<key>STORAGE_BUCKET</key>
	<string>cartel-hn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:113282744987:ios:076b3a1748b8b831</string>
	<key>DATABASE_URL</key>
	<string>https://cartel-hn.firebaseio.com</string>
</dict>
</plist>